<div class="item">
    <div>Imagem da receita</div>
    <div><input type="text" name="image"></div>
</div>

<div class="item">
    <div>Título da Receita</div>
    <div> 
        <input type="text" name="title"> 
    </div>
</div>

<div class="item">
    <div>Autor da Receita</div>
    <div> 
        <input type="text" name="author"> 
    </div>
</div>

<div class="item" id="ingredientes">
    <div>Ingredientes</div>
    <div class="ingrediente" >
        <input type="text" name="ingredients[]" >
    </div>
</div>

<button type="button" class="add_ingredientes">Adicionar novo ingrediente</button>

<div class="item" id="passos">
    <div>Modo de preparo</div>
    <div class="passo">
        <input type="text" name="preparation[]">
    </div>
</div>

<button type="button" class="add_passos">Adicionar novo passo</button>

<div class="item">
    <div>Informações adicionais</div>
    <div><textarea name="information" class="inf_adicionais"></textarea></div>
    
</div>