<div class="item">
    <div>Imagem da receita</div>
    <div><input type="text" name="imagem_receita"></div>
</div>

<div class="item" id="ingredientes">
    <div>Ingredientes</div>
    <div class="ingrediente" >
        <input type="text" name="ingrediente[]" >
    </div>
</div>

<button type="button" class="add_ingredientes">Adicionar novo ingrediente</button>

<div class="item" id="passos">
    <div>Modo de preparo</div>
    <div class="passo">
        <input type="text" name="modo_preparo[]">
    </div>
</div>

<button type="button" class="add_passos">Adicionar novo passo</button>

<div class="item">
    <div>Informações adicionais</div>
    <div><textarea name="nf_adicionais" class="inf_adicionais"></textarea></div>
    
</div>