{% extends "layout.html" %}

{% block head %}
    <title>Sobre - Klinger Oliveira</title>
{% endblock %}

{% block content %}

    <div id="wrapper">
        <img src="images/kligner.JPG" alt="Klinger Oliveira">
        <h1>Klinger Oliveira</h1>
        <h2>Estudante de Programação</h2>
        <p>Estudante de programação, dando foco na
            <a href="https://rocketseat.com.br/" target="_blank">Rocketseat</a>.</p>
    </div>

    <div id="links-footer" class="links">
        <a href="https://github.com/" target="_blank">Github</a>
        <a href="https://twitter.com/" target="_blank">Twitter</a>
        <a href="https://br.linkedin.com/" target="_blank">Linkedin</a>
    </div>

{% endblock %}