{% extends "layout.njk" %}

{% block content %}
    <div class="sobre_content">
        <h1>Sobre o Foodfy</h1>
        <p>
            Condimentum massa hendrerit rutrum sociosqu nam quisque sapien senectus accumsan porttitor odio, fermentum
            quis nunc rutrum viverra primis suspendisse imperdiet aliquet eget velit, sociosqu convallis urna fermentum
            congue dolor laoreet donec volutpat quam.
            ullamcorper dui mollis hac tempus vestibulum erat felis ultrices, class ligula metus inceptos habitant
            tellus curabitur, vitae blandit quisque fringilla nisl in cras.
            leo sodales massa per integer facilisis congue tempor suscipit, augue eu purus est platea sem.
            tincidunt placerat egestas turpis donec faucibus tristique pulvinar mauris felis pulvinar dolor tempus est,
            sagittis erat tempus luctus elit tellus nullam etiam leo faucibus aenean consequat.
        </p><br>
        <p>
            Porttitor iaculis vivamus malesuada donec laoreet scelerisque, faucibus curabitur urna pharetra augue turpis
            volutpat, velit mattis consectetur accumsan et.
            odio volutpat mattis non vehicula porta aptent euismod velit, cras vulputate tristique congue fusce congue
            felis ultrices, placerat porta dolor pretium nec semper hac.
            aptent suspendisse odio dictum accumsan aenean quis feugiat laoreet dapibus commodo, porttitor nostra
            iaculis massa potenti quis lobortis inceptos felis elit, convallis proin consectetur urna iaculis magna
            auctor elementum blandit.
            aenean maecenas potenti dictum potenti in facilisis congue lacus mauris, bibendum quam netus elementum
            nostra consequat sodales pulvinar, convallis aliquam consequat vulputate aenean ultrices nunc luctus.
        </p>

        <h2>Como tudo começou...</h2>
        <p>
            Nostra turpis massa nunc rutrum quis rhoncus fames mattis pharetra in, condimentum tempor quam libero metus
            vitae aenean ut adipiscing aliquet, pharetra lorem netus gravida malesuada pellentesque varius ultrices
            quis.
            justo senectus tempor tellus metus facilisis duis aenean, hendrerit pulvinar id sed donec neque quam,
            lacinia vitae potenti libero dictum aenean.
            viverra semper placerat inceptos scelerisque taciti blandit vitae netus neque, erat curabitur sem habitasse
            elementum cursus aenean ante tincidunt habitasse, sociosqu sed posuere blandit pretium malesuada rutrum
            habitasse.
            etiam porttitor condimentum pellentesque ut volutpat dictumst eget, hac etiam rhoncus litora habitasse
            tincidunt varius volutpat, erat ut tempor purus integer sagittis.
        </p> <br>
        <p>
            Sociosqu tempus scelerisque leo sit cursus egestas faucibus, neque porttitor inceptos et curabitur proin
            amet pharetra, nisl hendrerit mauris habitant ac quam.
            fermentum in pretium senectus neque proin nec, erat a suspendisse in duis metus, hendrerit aenean leo
            hendrerit at.
            quam ornare velit curae fusce bibendum torquent curae id placerat nisl, sodales tortor vehicula nostra
            tempor fringilla nostra torquent vulputate, pellentesque hendrerit sagittis posuere fames conubia luctus
            suspendisse scelerisque.
            himenaeos aptent integer donec lobortis auctor curae consequat ut porta tincidunt habitasse suscipit mollis
            velit scelerisque id nunc, varius eget iaculis potenti habitasse neque sapien ut commodo platea ultricies
            sodales velit orci iaculis.
        </p>
        
        <h2>Nossas receitas</h2>
        <p>
            Ornare sodales nam porttitor porta ut cursus mattis, adipiscing phasellus pellentesque integer vehicula a
            curae, etiam sociosqu magna posuere rhoncus nullam.
            elementum nisl ante consequat tempor quam turpis aenean donec malesuada vivamus per, tortor praesent mauris
            sapien semper praesent amet leo dui sed, libero sed eget nibh cras nulla vulputate odio nisi aenean.
            malesuada auctor faucibus id pellentesque vehicula ornare ac ornare aliquet, etiam maecenas tempor mollis
            ligula metus id lacinia rutrum, volutpat sollicitudin sed nam porttitor condimentum fringilla aenean.
            tempus laoreet euismod viverra quis turpis hendrerit nec, etiam eget ut nostra vitae euismod aenean, dolor
            lobortis id pellentesque sollicitudin consequat.
        </p>
    </div>
{% endblock %}