{% extends "layout.njk" %}

{% block top %}
    <div class="banner">
        <div class="lado_a">
            <h1>As melhores receitas</h1>
            <p>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.</p>
        </div>
        <div class="lado_b">
            <img src="/images/chef.png" alt="Chef">
        </div>
    </div>

    <div class="title">
        <h1>Mais acessadas</h1>
    </div>
{% endblock %}

{% block content %}
    <section class="cards">

        <div class="card" id="burger.png">
            <div class="card_img">
                <img src="/images/burger.png" alt="">
            </div>
            <div class="card_content">
                <p class="p_card_content">Triplo burguer</p>
            </div>
            <div class="card_info">
                <p class="p_card_info">por Jorge Relato</p>
            </div>
        </div>

        <div class="card" id="pizza.png">
            <div class="card_img">
                <img src="/images/pizza.png" alt="">
            </div>
            <div class="card_content">
                <p class="p_card_content">Pizza 4 estações</p>
            </div>
            <div class="card_info">
                <p class="p_card_info">por Fabiana Melo</p>
            </div>
        </div>

        <div class="card" id="espaguete.png">
            <div class="card_img">
                <img src="/images/espaguete.png" alt="">
            </div>
            <div class="card_content">
                <p class="p_card_content">Espaguete ao alho</p>
            </div>
            <div class="card_info">
                <p class="p_card_info">por Julia Kinoto</p>
            </div>
        </div>

        <div class="card" id="lasanha.png">
            <div class="card_img">
                <img src="/images/lasanha.png" alt="">
            </div>
            <div class="card_content">
                <p class="p_card_content">Lasanha mac n' cheese</p>
            </div>
            <div class="card_info">
                <p class="p_card_info">por Juliano Vieira</p>
            </div>
        </div>

        <div class="card" id="doce.png">
            <div class="card_img">
                <img src="/images/doce.png" alt="">
            </div>
            <div class="card_content">
                <p class="p_card_content">Docinhos pão-de-céu</p>
            </div>
            <div class="card_info">
                <p class="p_card_info">por Ricardo Golvea</p>
            </div>
        </div>

        <div class="card" id="asinhas.png">
            <div class="card_img">
                <img src="/images/asinhas.png" alt="">
            </div>
            <div class="card_content">
                <p class="p_card_content">Asinhas de frango ao barbecue</p>
            </div>
            <div class="card_info">
                <p class="p_card_info">por Vania Steroski</p>
            </div>
        </div>

    </section>

    <div class="modal_overlay ">
        <div class="modal">
            <div class="modal_card">
                <div class="modal_card_img">
                    <img src="" alt="Foto">
                </div>
                <div class="modal_card_content">
                    <p id="p_modal_card_content"></p>
                </div>
                <div class="modal_card_info">
                    <p id="p_modal_card_info"></p>
                </div>
            </div>
            <a class="modal_close">
                <p>Fechar modal</p>
            </a>
        </div>
    </div>

    <script src="/scripts.js"></script>
{% endblock %}