<!DOCTYPE html>

<html>

{% block head%}
    <title>Foodfy</title>

    <link rel="stylesheet" href="/styles.css">
{% endblock %}

<body>
    <header>
        <div class="logo">
            <a href="/"><img src="/images/logo.png" alt="Logo"></a>

        </div>
        <div class="menu">
            <a href="/sobre">Sobre</a>
            <a href="/receitas">Receitas</a>
        </div>
    </header>

    {% block top %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    <footer class="footer">
        <div class="text_footer">
            <p>Todos os direitos reservados, receitas Foodfy.</p>
        </div>
    </footer>
</body>

</html>