{% extends "layout.njk"%}

{% block head %}
    <title>Desafio 3-1: Página Sobre</title>
{% endblock %}

{% block content %}
    <div id="box">
        <img src="https://rocketseat.com.br/static/og.png" alt="Rocketseat">
        <h1>Rocketseat</h1>
        <p>Mais do que uma plataforma de educação em tecnologia, somos uma comunidade incrível de programadores em busca
            do próximo nível.</p>
        <ul> Principais tecnologias:</ul>
        <li>NodeJS</li>
        <li>ReactJS</li>
        <li>React Native</li>
        <li>Javascript</li>
        <li>Javascript ES6+</li>
    </div>

    <div id="links-footer" class="links">
        <a href="https://github.com/">GitHub</a>
        <a href="https://www.instagram.com/">Instagram</a>
        <a href="https://facebook.com/">Facebook</a>
    </div>
{% endblock %}