{% extends "layout.njk"%}

{% block head %}
    <title>Desafio 3-2: Página Sobre</title>
{% endblock %}

{% block content %}
    <div id="box">
        <img src="https://rocketseat.gallerycdn.vsassets.io/extensions/rocketseat/rocketseatreactnative/3.0.1/1588456740326/Microsoft.VisualStudio.Services.Icons.Default" alt="Rocketseat">
        <h1>Rocketseat</h1>
        <p>Mais do que uma plataforma de educação em tecnologia, somos uma comunidade incrível de programadores em busca
            do próximo nível.</p>
        <ul> Principais tecnologias:</ul>
        <li>NodeJS</li>
        <li>ReactJS</li>
        <li>React Native</li>
        <li>Javascript</li>
        <li>Javascript ES6+</li>
    </div>

    
{% endblock %}