<div class="item">
    <div>Nome</div>
    <div>
        <input type="text" 
                name="name" 
                value="{{chef.name}}">
    </div>
</div>

<div class="item">
    <div>Avatar</div>
    <div>
        <input type="url" 
                name="avatar_url" 
                class="avatar_url"
                value="{{chef.avatar_url}}"
                hidden
                readonly>
    </div>

    <div>

        <div id="photo-upload-chef">
            <input id="photo-input-chef"
                type="file" 
                name="photos" 
                multiple
                accept="image/*"
                onchange="PhotoUploadChef.handleFileInput(event)"
            >
            <p class='button'> Enviar Avatar</p>
        </div>

    </div>    
    
</div>