<header class="menu_admin">
    <div class="menu_content">

        <div class="logo">
            <a href="/admin"><img src="/images/logo_admin.png" alt="Logo"></a>
        </div>

        <div class="menu">
            <a href="/admin/recipes">Receitas</a>
            <a href="/admin/chefs">Chefs</a>
        </div>

    </div>

</header>