<html>
  <head></head>
  <body></body>
</html>
<script>
  function printDouble(number){
    setTimeout(
      () => {
        console.log(`"randon " ${number * 2}`)
      },
      Math.floor(Math.random() * 100) + 1
    )
  }

  function printAll(){
    printDouble(5)
    printDouble(10)
    printDouble(22)
    printDouble(1)
    printDouble(89)
  }

   printAll()

  function numberDoublePromisse(number) {
    return new Promise(resolve => {
        setTimeout(function () {
          resolve(number * 2)
        },
        Math.floor(Math.random() * 100) + 1
      )
    })
  }

  async function printDoubleProcisse(number) {
    var result = await numberDoublePromisse(number);
    console.log(`"async " ${result}`);
  }

  async function printAllPromisse() {
    await printDoubleProcisse(5)
    await printDoubleProcisse(10)
    await printDoubleProcisse(22)
    await printDoubleProcisse(1)
    await printDoubleProcisse(89)
  }

  printAllPromisse()

</script>