{% extends "layout.njk" %}

{% block head %}
    <title>Teachers</title>
{% endblock head %}

{% block content %}

    <form class="card" method="POST" action="/teachers?_method=PUT">

        <section class="avatar" style="background: url({{teacher.avatar_url}}) no-repeat center center / cover"></section>
        
        <section class="dados">
            
            <h3>Editar cadastro do Professor</h3>

            {% include "teachers/fields.njk" %}

        </section>
        <input type="hidden" name="id" value="{{ teacher.id }}">
    </form>

{% endblock content %}