<form action="/recipes" method="get" class="menu_find_recipes">
    <input type="text" 
            name="filter" 
            placeholder="Buscar uma receita" 
            value="{{filter}}">
            
    <button type="submit" 
            class="button">Buscar</button>
</form>