{% extends "layout.njk" %}

{% block head %}
    <title>Teachers</title>
{% endblock head %}

{% block content %}

    <div class="card table-teachers">
        <table>
            <thead>
                <tr>
                    <th>Nome Completo</th>
                    <th>Acompanhamento</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                {% for teacher in teachers %}
                    <tr>
                        <td>
                            <span class="table-avatar" style="background-image: url({{teacher.avatar_url}})"></span>
                            {{teacher.nome}}</td>

                        <td> {% for areas_atuacao in teacher.areas_atuacao %}
                                <span class="table-atuacao"> {{areas_atuacao}}</span>
                             {% endfor %}
                        </td>

                        <td>
                            <a href="/teachers/{{teacher.id}}">
                                ver</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock content %}